<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css">
        <link rel="icon" type="image/png" href="images/logo.png" sizes="32x32">
        <title>Home-VoucherPro</title>
    </head>

    <body>
        <header>
            <div class="left-header-container">

                <a class="logo" id="logo" href="/homePage">
                    <img src="images/logo.png" width="60" height="60" alt="Logo">
                </a>
        
                <h2>VoucherPro</h2>
            </div>
        
            <div class="right-header-container">
                <button>Logout</button>
            </div>
        </header>
    </body>
</html>